html{
  /* background-image: url(../img/paisaje-02.svg); */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center bottom; 
  background-color: #0C1D35;
}
section{
  margin:5% 0;
}
.container {
  background: transparent;
}
.navClau {
  /* background: #F9F7F3;
  opacity: 1; */
  background: rgba(0, 0, 0, .0);
  border-radius: 0 0 8px 8px;}
/*animacion de nubes*/
#clouds {
  padding: 0px 0; }

/*Time to finalise the cloud shape*/
.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative; }

.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: #fff; 
  /* background: rgba(29, 63, 77, .6); */
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg); }

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px; }

/*Time to animate*/
@media handheld and (max-width: 20em), screen and (max-width: 30em) {
  .cloud {
    display: none; } }
.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite; }

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 200px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  /*opacity proportional to the size*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite; }

.x3 {
  left: -250px;
  top: -100px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite; }

.x4 {
  left: 470px;
  top: -150px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite; }

.x5 {
  left: -150px;
  top: -50px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite; }

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 800px; }
  100% {
    margin-left: -800px; } }
@-moz-keyframes moveclouds {
  0% {
    margin-left: 800px; }
  100% {
    margin-left: -800px; } }
@-o-keyframes moveclouds {
  0% {
    margin-left: 800px; }
  100% {
    margin-left: -800px; } }


.h2 {
  color: #F9F7F3 ;
  font-family: "centabel"; 
  font-size: 5em;
}
.h3 {
  color: #F9F7F3 ;
  font-family: "centabel"; }
  .h4 {
    color: #20292D;
    font-family: "centabel"; 
    font-size: 4em;
    padding: 4% 0;
  }
  
/* Proyectos */
#proyectos .nav-tabs{
   border-bottom: #c38f54;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  /* color:#633001; */
  width: 100%;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: #e2a561;
  color:#633001;
  width: 100%;
  height: 100%;
  border-color: #c38f54;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  color: #633001;
  border-color: #c38f54;
  background-color: #e2a561;
}  

.proyectos{
  background: rgba(250, 250, 250,.5);
  /* background: #F9F7F3; */
  padding: 2% 0%;
border-radius: 8px;}

.tabProyectos {
  
  font-family: "centabel";
  font-size: 1.75rem; 
  font-weight: 500;}
  .nav-link {
    color: #20292D;
  }

section > div > .card {
  margin: 4%;
  padding: 1%;
  background-color: #e7e5e4;
  font-family: "centabel"; }


.card-content > p > i {
  margin: .5%;
  color: #20292D; }

.card-content > p > a {
  margin: .5%;
  color: #20292D;
  font-family: "centabel"; }

.card-content > span {
  margin: .5%;
  color: #20292D;
  font-family: "centabel"; }

.card-reveal {
  color: #20292D;
  font-family: "centabel"; }

/* #index {
  background-image: url(../img/paisaje.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%; } */

#acercaDeMi {
  
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

#acercaDeMi > div > p {
  padding: 4%;
  font-size: 1.3em;
  text-align: left;
  color: #F9F7F3;
  font-family: "centabel";
  font-weight: 300;
  overflow-y: hidden; }

.textoIntro {
    padding:0 5% 5% 5%;
    font-size: 1.3em;
    font-family: "centabel";
    font-weight: 300;
    overflow-y: hidden; }

.margintop-3 {
  margin-top: -10px; }

/*
#contacto{
background-image: url(../assets/img/texturaFondo.png);
background-repeat: no-repeat;
background-size: cover;
padding: 1%;
}
*/
.footerIndex {
  margin-top: 100px;
  }

footer > div > div > div > a > i {
  margin-top: 10px;
  color: white; }

footer > div > div > div > a {
  color: white;
  font-family: "centabel";
  font-size: 14px;
  font-weight: 500; }

@font-face {
  font-family: "centabel";
  src: url(../fonts/centabel.ttf) format("truetype"); }
@font-face {
  font-family: "CaviarDreams";
  src: url(../fonts/CaviarDreams.ttf) format("truetype"); }
@font-face {
  font-family: "CaviarDreams_Bold";
  src: url(../fonts/CaviarDreams_Bold.ttf) format("truetype"); }

/*# sourceMappingURL=main.css.map */

/* Adaptación mobile */
@media only screen and (max-width: 1024px) {
  .navClau {display: none;}
  .col-8 {width: 100%;} 
  .col-6 {width: 100%;}
  .col-4 {width: 100%;}
  section > div > .card {
    width: 75%; }

}

button{
  border: none;
  padding: 0;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(250, 250, 250,.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.containerCard {
  position: relative;
  
}
.containerCard:hover .overlay {
  height: 100px;
}

.textCard {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "centabel";
}
.image {
  display: block;
  width: 100%;
  height: auto;
} 
.textModal{
  font-family: "centabel";
}

.textModal p{
  margin-top: 3%;
}