<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Acerca de Mi</title>
		<link rel="shortcut icon" href="../assets/img/iconoLogo.png">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" href="../assets/css/main.css"> 

	</head>

	<body id="acercaDeMi">

		<header class="container">
			<div class="row">
				<a class="col m3 s6" href="../index.html">	
					<img src="../assets/img/menuInicio.svg" alt="Inicio">
				</a>
				<a class="col m3 s6" href="acercaDeMi.html">
					<img src="../assets/img/menuAcerca.svg" alt="Acerca de Mi">
				</a>
				<a class="col m3 s6" href="proyectos.html">
					<img src="../assets/img/menuProyectos.svg" alt="Proyectos">
				</a>
				<a class="col m3 s6" href="habilidades.html">
					<img src="../assets/img/menuHabilidades.svg" alt="Habilidades">
				</a>
			</div>
		</header>

		<section id="acercaDeMi">
<!--
			<div class="row">
				<h3 class="col s10 m6 offset-s1">Acerca de Mí:</h3>
			</div>    
-->
			<div class="row">    
				<img class="col s8 offset-s2 m4 offset-m1 center" src="../assets/img/ClaudiaFranco.svg">
				<p class="col s12 m5 center ">
					Soy Diseñadora gráfica y web, busco desarrollarme profesionalmente mediante la mejora continua, estableciendo metas a diario con el objetivo de ser competitiva y yendo un paso adelante.
					Cuento con experiencia profesional en desarrollo web, campañas de concientización social-ambiental, atención y experiencia del cliente y sistemas de impresión.
					Mi objetivo es colaborar con mis conocimientos, talento y esfuerzo para contribuir a la sociedad creando un impacto positivo en ella.
				</p>           
			</div>
		</section>

		<footer style="margin: bottom 2px;">
			<div class="row center">

				<div class="col m4">
					<div class="row">
						<a  class="col m12" target="_blank" href="https://github.com/claussfrank"><i class="fa fa-github fa-4x"></i></a>
						<a class="col m12">github.com/claussfrank</a>
					</div>
				</div>

				<div class="col m4">
					<div class="row">
						<a class="col m12"target="_blank" href="https://www.linkedin.com/in/claussfrank/"><i class="fa fa-linkedin-square fa-4x"></i></a>
						<a class="col m12 ">linked-in</a>
					</div>

				</div>

				<div class="col m4">
					<div class="row">
						<a class="col m12" target="_blank" href="clauss.frank@gmail.com"><i class="fa fa-envelope fa-4x"></i></a>
						<a class="col m12 ">clauss.frank@gmail.com</a>
					</div>
				</div>

			</div>
		</footer>     

		<script src="https://use.fontawesome.com/a52b638e62.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>    
		<script src="js/app.js"></script>

	</body>
</html>