<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Habilidades</title>

		<link rel="shortcut icon" href="../assets/img/iconoLogo.png">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" href="../assets/css/main.css"> 
	</head>

	<body>
		<header class="container">
			<div class="row">
				<a class="col m3 s6" href="../index.html">	
					<img src="../assets/img/menuInicio.svg" alt="Inicio">
				</a>
				<a class="col m3 s6" href="acercaDeMi.html">
					<img  class="margintop-3" src="../assets/img/menuAcerca.svg" alt="Acerca de Mi">
				</a>
				<a class="col m3 s6" href="proyectos.html">
					<img class="margintop-3" src="../assets/img/menuProyectos.svg" alt="Proyectos">
				</a>
				<a class="col m3 s6" href="habilidades.html">
					<img  class="margintop-3" src="../assets/img/menuHabilidades.svg" alt="Habilidades">
				</a>
			</div>
		</header>


		<section id="habilidades" class="container" >

			<h3>Habilidades:</h3>


			<div class="row">
				<img alt="Photoshop" class="col s6 m2 offset-m2" src="../assets/img/ps.png"> 
				<img alt="Ilustrator" class="col s6 m2"src="../assets/img/ai.png">
				<img alt="InDesign" class="col s6 m2"src="../assets/img/id.png">   
				<img alt="After Effects" class="col s6 m2"src="../assets/img/ae.png">
			</div>
			<div class="row">
				<img alt="JavaScript" id="habilidadJS" class="habilidadJS col s6 m2" src="../assets/img/js.png"> 
				<img alt="CSS" class="col s6 m2"src="../assets/img/css.png">
				<img alt="Html" class="col s6 m2"src="../assets/img/html.png">  
				<img alt="Materialize" class="col s6 m2 " src="../assets/img/materialize.png"> 
				<img alt="Boostrap" class="col s6 m2" src="../assets/img/bootstrap.png"> 
				<img alt="Jquery" class="col s6 m2" src="../assets/img/jquery.png"> 
			</div>
			<div class="row">	
				<img alt="Sass" class="col s6 m2 offset-m1" src="../assets/img/sass.png"> 
				<img alt="Git" class="col s6 m2" src="../assets/img/git.png"> 
				<img alt="Git Hub" class="col s6 m2" src="../assets/img/gitHub.png"> 
				<img alt="Gulp" class="col s6 m2" src="../assets/img/gulp.png"> 
				<img alt="Node" class="col s6 m2" src="../assets/img/node.png"> 
			</div>

		</section> 

		<footer id="contacto" >
			<div class="row center">

				<div class="col m4">
					<div class="row">
						<a  class="col m12" target="_blank" href="https://github.com/claussfrank"><i class="fa fa-github fa-4x"></i></a>
						<a class="col m12">github.com/claussfrank</a>
					</div>
				</div>

				<div class="col m4">
					<div class="row">
						<a class="col m12"target="_blank" href="https://www.linkedin.com/in/claussfrank/"><i class="fa fa-linkedin-square fa-4x"></i></a>
						<a class="col m12 ">linked-in</a>
					</div>

				</div>

				<div class="col m4">
					<div class="row">
						<a class="col m12" target="_blank" href="clauss.frank@gmail.com"><i class="fa fa-envelope fa-4x"></i></a>
						<a class="col m12 ">clauss.frank@gmail.com</a>
					</div>
				</div>

			</div>
		</footer>     

		<script src="https://use.fontawesome.com/a52b638e62.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>    
		<script src="js/app.js"></script>

	</body>
</html>